# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [8]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd

baltimore = pd.read_csv("baltimore_9-24-2016_9-30-2017.csv") 
boston = pd.read_csv("boston_9-24-2016_9-30-2017.csv")
new_york = pd.read_csv("new-york_9-24-2016_9-30-2017.csv")
philadelphia = pd.read_csv("philadelphia_9-24-2016_9-30-2017.csv")

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [9]:
# Clean your data here!
import numpy as np
print("Percentage of missing data from each column of BALTIMORE:\n")
for col in baltimore.columns:
    pct_missing = np.mean(baltimore[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

print("\nPercentage of missing data from each column of BOSTON:\n")
for col in boston.columns:
    pct_missing = np.mean(boston[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

print("\nPercentage of missing data from each column of NEW YORK:\n")
for col in new_york.columns:
    pct_missing = np.mean(new_york[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

print("\nPercentage of missing data from each column of PHILADELPHIA:\n")
for col in philadelphia.columns:
    pct_missing = np.mean(philadelphia[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Percentage of missing data from each column of BALTIMORE:

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 1%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 3%
Origin District - 100%
Item Size - 16%
Color - 80%
Environment - 100%
Unit of Sale - 84%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

Percentage of missing data from each column of BOSTON:

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 92%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 81%
Item Size - 1%
Color - 14%
Environment - 100%
Unit of Sale - 87%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

Percentage of missing data from each column of NEW YORK:

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 87%
Item Size - 7%
Color - 81%
Environment - 100%
Unit of Sale - 78%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

Percentage of missing data from each column of PHILADELPHIA:

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 79%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 100%
Item Size - 21%
Color - 100%
Environment - 100%
Unit of Sale - 81%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [12]:

# Type
# Grade - 100%
# Origin District - 100%   
# Environment - 100%

# Unit of Sale - 100%

# Quality - 100%
# Condition - 100%
# Appearance - 100%
# Storage - 100%
# Crop - 100%
# Trans Mode - 100%

print(baltimore.shape)
baltimore = baltimore.drop(['Type',"Grade",'Origin District','Environment','Quality','Condition','Appearance','Storage',
                           'Crop','Trans Mode'],
                           axis=1) 
print(baltimore.shape)

print(boston.shape)
boston = boston.drop(['Type',"Grade",'Origin District','Environment','Quality','Condition','Appearance','Storage',
                           'Crop','Trans Mode'],
                           axis=1) 
print(boston.shape)

print(new_york.shape)
new_york = new_york.drop(['Type',"Grade",'Origin District','Environment','Quality','Condition','Appearance','Storage',
                           'Crop','Trans Mode'],
                           axis=1) 
print(new_york.shape)

print(philadelphia.shape)
philadelphia = philadelphia.drop(['Type',"Grade",'Origin District','Environment','Quality','Condition','Appearance','Storage',
                           'Crop','Trans Mode'],
                           axis=1) 
print(philadelphia.shape)

(352, 25)
(352, 15)
(112, 25)
(112, 15)
(57, 25)
(57, 15)

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [35]:
# Combine the four dataframes into one!
df = pd.concat([baltimore, boston, new_york, philadelphia], axis=0, 
               keys=['baltimore', 'boston', 'new_york', 'philadelphia'])
df.head(30)
# df.tail()

             Commodity Name  City Name       Package            Variety  \
baltimore 0        PUMPKINS  BALTIMORE  24 inch bins                NaN
          1        PUMPKINS  BALTIMORE  24 inch bins                NaN
          2        PUMPKINS  BALTIMORE  24 inch bins        HOWDEN TYPE
          3        PUMPKINS  BALTIMORE  24 inch bins        HOWDEN TYPE
          4        PUMPKINS  BALTIMORE  24 inch bins        HOWDEN TYPE
          5        PUMPKINS  BALTIMORE  24 inch bins        HOWDEN TYPE
          6        PUMPKINS  BALTIMORE  36 inch bins        HOWDEN TYPE
          7        PUMPKINS  BALTIMORE  36 inch bins        HOWDEN TYPE
          8        PUMPKINS  BALTIMORE  36 inch bins        HOWDEN TYPE
          9        PUMPKINS  BALTIMORE  36 inch bins        HOWDEN TYPE
          10       PUMPKINS  BALTIMORE  36 inch bins        HOWDEN TYPE
          11       PUMPKINS  BALTIMORE  36 inch bins        HOWDEN TYPE
          12       PUMPKINS  BALTIMORE  36 inch bins        HOWDEN TYPE
          13       PUMPKINS  BALTIMORE  36 inch bins        HOWDEN TYPE
          14       PUMPKINS  BALTIMORE  36 inch bins        HOWDEN TYPE
          15       PUMPKINS  BALTIMORE  36 inch bins        HOWDEN TYPE
          16       PUMPKINS  BALTIMORE  36 inch bins        HOWDEN TYPE
          17       PUMPKINS  BALTIMORE  36 inch bins        HOWDEN TYPE
          18       PUMPKINS  BALTIMORE  36 inch bins        HOWDEN TYPE
          19       PUMPKINS  BALTIMORE  36 inch bins        HOWDEN TYPE
          20       PUMPKINS  BALTIMORE  36 inch bins        HOWDEN TYPE
          21       PUMPKINS  BALTIMORE  36 inch bins        HOWDEN TYPE
          22       PUMPKINS  BALTIMORE  36 inch bins        HOWDEN TYPE
          23       PUMPKINS  BALTIMORE  36 inch bins        HOWDEN TYPE
          24       PUMPKINS  BALTIMORE  36 inch bins        HOWDEN TYPE
          25       PUMPKINS  BALTIMORE  36 inch bins        HOWDEN TYPE
          26       PUMPKINS  BALTIMORE  36 inch bins        HOWDEN TYPE
          27       PUMPKINS  BALTIMORE  24 inch bins  HOWDEN WHITE TYPE
          28       PUMPKINS  BALTIMORE  24 inch bins  HOWDEN WHITE TYPE
          29       PUMPKINS  BALTIMORE  24 inch bins         CINDERELLA

             Sub Variety        Date  Low Price  High Price  Mostly Low  \
baltimore 0          NaN  04/29/2017        270       280.0         270
          1          NaN  05/06/2017        270       280.0         270
          2          NaN  09/24/2016        160       160.0         160
          3          NaN  09/24/2016        160       160.0         160
          4          NaN  11/05/2016         90       100.0          90
          5          NaN  11/12/2016         90       100.0          90
          6          NaN  09/24/2016        160       170.0         160
          7          NaN  09/24/2016        160       160.0         160
          8          NaN  10/01/2016        160       170.0         160
          9          NaN  10/01/2016        160       160.0         160
          10         NaN  10/08/2016        160       170.0         160
          11         NaN  10/08/2016        160       160.0         160
          12         NaN  10/15/2016        150       160.0         150
          13         NaN  10/15/2016        150       170.0         150
          14         NaN  10/22/2016        150       160.0         150
          15         NaN  10/22/2016        140       160.0         140
          16         NaN  10/29/2016        100       160.0         100
          17         NaN  10/29/2016        130       160.0         130
          18         NaN  10/29/2016        130       130.0         130
          19         NaN  11/05/2016        120       130.0         120
          20         NaN  11/05/2016        100       130.0         100
          21         NaN  11/05/2016         90       100.0          90
          22         NaN  11/12/2016        100       120.0         100
          23         NaN  09/16/2017        160       160.0         160
          24         NaN  09/23/2017        160       160.0         160
          25         NaN  09/30/2017        150       160.0         150
          26         NaN  09/30/2017        150       160.0         150
          27         NaN  09/23/2017        160       180.0         160
          28         NaN  09/30/2017        180       180.0         180
          29         NaN  06/03/2017        380       380.0         380

              Mostly High        Origin Item Size   Color Unit of Sale Repack
baltimore 0         280.0           NaN       lge     NaN          NaN      E
          1         280.0           NaN       lge     NaN          NaN      E
          2         160.0      DELAWARE       med     NaN          NaN      N
          3         160.0      VIRGINIA       med     NaN          NaN      N
          4         100.0      MARYLAND       lge     NaN          NaN      N
          5         100.0      MARYLAND       lge     NaN          NaN      N
          6         170.0      MARYLAND       med     NaN          NaN      N
          7         160.0  PENNSYLVANIA       lge     NaN          NaN      N
          8         170.0      MARYLAND       med     NaN          NaN      N
          9         160.0  PENNSYLVANIA       lge     NaN          NaN      N
          10        170.0      MARYLAND       med     NaN          NaN      N
          11        160.0  PENNSYLVANIA       lge     NaN          NaN      N
          12        160.0      MARYLAND       lge     NaN          NaN      N
          13        170.0      MARYLAND       med     NaN          NaN      N
          14        160.0      MARYLAND       lge     NaN          NaN      N
          15        160.0      MARYLAND       med     NaN          NaN      N
          16        160.0      MARYLAND       lge     NaN          NaN      N
          17        160.0      MARYLAND       med     NaN          NaN      N
          18        130.0      MARYLAND       sml     NaN          NaN      N
          19        130.0      MARYLAND      xlge     NaN          NaN      N
          20        130.0      MARYLAND       lge     NaN          NaN      N
          21        100.0      MARYLAND       med     NaN          NaN      N
          22        100.0      MARYLAND       lge     NaN          NaN      N
          23        160.0      MARYLAND   med-lge  ORANGE          NaN      N
          24        160.0      MARYLAND   med-lge  ORANGE          NaN      N
          25        160.0      MARYLAND       lge  ORANGE          NaN      N
          26        160.0      MARYLAND   med-lge  ORANGE          NaN      N
          27        180.0      MARYLAND       med     NaN          NaN      N
          28        180.0      MARYLAND       med     NaN          NaN      N
          29        380.0           NaN      xlge     NaN          NaN      E

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [34]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
df[["Low Price", "High Price"]].groupby(df["Unit of Sale"]).agg('mean')

               Low Price  High Price
Unit of Sale
EACH           47.916667   59.166667
PER BIN       185.845070  206.619718
SHELLACKED     16.000000   17.545455

In [58]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
df[[]].groupby(df["City Name", "Variety"]).agg('mean')

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [59]:
# Try the bonus mission if you have time!